<div id="todoapp">

  <div id="create-todo">
    <%= text_field_tag "new-todo"%>
    <%= link_to "", "#",  :id => 'hidden_click'%>
  </div>

  <div id="main">
    <ul id="todo-list" name="todo-list">
    </ul>
  </div>

  <div id='footer'>
  	<ul id="todo-stats">
	  </ul>
    <div id ='log'>
      <%= link_to 'Logging list', logdatas_path%>
    </div>
  </div>
</div>